.img-oracle {
    animation: popImage 0s 0.5s forwards, scale 0.8s, popImageShadow 4s 5s forwards;
    opacity: 0; 
}

.img-aws {
  animation: popImage 0s 1.0s forwards, scale 1.3s, popImageShadow 4s 5s forwards;
  opacity: 0; 
}

.img-google {
  animation: popImage 0s 1.5s forwards, scale 1.8s, popImageShadow 4s 6s forwards;
  opacity: 0; 
}

.img-artificialinte {
  animation: popImage 0s 2.0s forwards, scale 2.3s, popImageShadow 4s 6.5s forwards;
  opacity: 0; 
}

.img-azure {
  animation: popImage 0s 2.5s forwards, scale 2.8s, popImageShadow 4s 7s forwards;
  opacity: 0; 
}

.img-cloudscore {
  animation: popImage 0s 3.0s forwards, scale 3.3s;
  opacity: 0; 
}

.img-cloudscore-border {
  animation: popImage 0s 3.0s forwards, scale 3.3s, popImageShadow 4s 7.5s forwards;
  opacity: 0; 
}

.img-totalcloudcost {
  animation: popImage 0s 3.5s forwards, scale 3.8s, popImageShadow 4s 8s forwards;
  opacity: 0; 
}

.img-totalcloudsaved {
  animation: popImage 0s 4.0s forwards, scale 4.3s, popImageShadow 4s 8.5s forwards;
  opacity: 0; 
}

.img-totalthismonth {
  animation: popImage 0s 4.5s forwards, scale 4.8s, popImageShadow 4s 9s forwards;
  opacity: 0; 
}
@keyframes popImage {
  to   { opacity: 1; }
}

@keyframes scale {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.7, 1.7);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes popImageShadow {
  to   {   
    border-radius:25px; 
    box-shadow: 0px 1px 40px #2859ff; }
}